Library/
Packages/manifest.json
Packages/packages-lock.json
Logs/Packages-Update.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Logs/shadercompiler-UnityShaderCompiler.exe1.log
Logs/shadercompiler-UnityShaderCompiler.exe2.log
Logs/shadercompiler-UnityShaderCompiler.exe3.log
Logs/shadercompiler-UnityShaderCompiler.exe4.log
Temp/FSTimeGet-fbddc5cc38a6fd34f898d80cd0a99edf
Temp/UnityLockfile
Temp/workerlic
UserSettings/EditorUserSettings.asset
UserSettings/Search.settings
UserSettings/Layouts/default-2021.dwlt
.collabignore
My3DFPSGame.sln
.vs/My3DFPSGame/v17/.suo
.vscode/settings.json
